body{

}
.fix-header{

}
nav{
justify-content: end;
}
nav li{

}
nav li a {

}

.container{

}
.one{

}
.two{


}
.bootstrap{
    width:200px;
    height:150px;
    border:6px solid #050505;
}
button{
    width:60px;
    height:20px;
}
.first-website{
    width:200px;
    height:150px;
    border:6px solid #050505;
}
.three{

}
.four{

}
.fix-footer{

}
