body{
margin:auto;
}
.fix-header{

}
nav{
justify-content: end;
}
nav li{

}
nav li a {

}

.container{

}
.one{

}
.two h1{
display:flex;
justify-content:center;
}
    
.bootstrap{
    width:200px;
    height:150px;
    border:2px solid #050505;
    box-shadow:2px 2px 0 #050505;
    margin-right:10px;
    display: block;
   
}
button{
    width:80px;
    height:30p
}
.first-website{
    width:200px;
    height:150px;
    border:2px solid #050505;
    box-shadow:2px 2px 0 #050505;
    margin-right:10px;
     
}
.three h1,p{
    display:flex;
    justify-content:center;
}
.four h1,p{
    display:flex;
    justify-content:center;
}
.fix-footer{

}
